.chat-screen {
  height: 100vh;
}

.chat-screen .header {
  height: 64px;
  background-color: #4482FF;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.chat-screen .chat-container {
  height: calc(100vh - 64px);
}

.chat-screen .chat-container .conversation-name {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e9e9e9;
}

.chat-screen .chat-container .conversation-name h3 {
  font-size: 20px;
  font-weight: bold;
}

.chat-screen .chat-container .message-form-container {
  height: 64px;
  border-top: 1px solid #e9e9e9;
}

.chat-screen .chat-container .message-form-container form {
  height: 100%;
  display: flex;
  align-items: center;
}

.chat-screen .chat-container .message-form-container form .message-input {
  border: none;
  height: 100%;
  width: 100%;
}

.chat-screen .chat-container .message-form-container form .send-button {
  border: none;
  height: 100%;
  padding: 0px 10px;
}

.chat-screen .chat-container .message-container {
  height: calc(100% - 128px);
  overflow-y: auto;
}

.message-item {
  margin: 5px;
}

.message-item .sender {
  font-size: 12px;
}

.message-item .message-content {
  border-radius: 3px;
  padding: 4px;
  display: inline-block;
  max-width: 40%;
  word-break: break-word;
}

.my-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-message .message-content {
  background-color: #4482FF;
  color: #ffffff;
}

.other-message .message-content {
  background-color: #e9e9e9;
}